includes/functions/enqueue-admin-styles.php
includes/functions/languages.php
includes/functions/menu.php
includes/functions/old_ufcbets.php
includes/functions/sidebar.php
includes/functions/template-tags.php
includes/functions/theme-support.php
includes/functions/woocommerce.php
includes/functions/customizer.php

old__functions.php
old__page-betting.php
old_index.php
oldsingle.php
page-test.php
UFC-Fantasy-WordPress-Theme.zip
